<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Contribution</title>
    <link rel="stylesheet" href="/styles.css" type="text/css" />
  </head>

  <body>
    <div class="canvas-holder">
      <canvas></canvas>
    </div>

    <%- include ("../templates/header") -%>

    <div class="form-div">
      <div class="text-icon-div">
        <h1 class="icon-row">Edit Contribution</h1>
        <form
          method="POST"
          action="/contribute/<%= contribution.index %>?_method=DELETE"
        >
          <button type="submit" class="icon icon-row">💩</button>
        </form>
      </div>
      <form
        action="/contribute/<%= contribution.index %>/edit?_method=PUT"
        method="POST"
      >
        <div class="input-div">
          <label for="date">Date</label>
          <input type="date" name="date" value="<%= contribution.date %>" />
        </div>
        <div class="input-div">
          <label for="time">Time</label>
          <input type="time" name="time" value="<%= contribution.time  %> " />
        </div>

        <div class="input-div">
          <label for="location">Location</label>
          <input
            type="text"
            name="location"
            value="<%= contribution.location %> "
          />
        </div>

        <div class="input-div">
          <label for="shape">Shape</label>
          <input type="text" name="shape" value="<%= contribution.shape  %> " />
        </div>

        <div class="input-div">
          <label for="duration">Duration</label>
          <input
            type="text"
            name="time"
            value="<%= contribution.duration %> "
          />
        </div>

        <div class="input-div">
          <label for="summary">Summary</label>
          <input
            type="text"
            name="summary"
            value="<%= contribution.summary %> "
          />
        </div>

        <div class="input-div">
          <label for="text">Incident</label>
          <textarea name="text" rows="5"><%= contribution.text %> </textarea>
        </div>

        <button type="submit" class="submit-btn">Save</button>
      </form>
    </div>
  </body>
</html>

<script src="/glslcanvas.min.js"></script>
<script src="/frag.js"></script>
<script src="/canvas.js"></script>
