<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Contribution</title>
    <link rel="stylesheet" href="/styles.css" type="text/css" />
  </head>
  <body>
    <%- include ("../templates/header") -%>
    <h1>Edit Contribution</h1>

    <div class="main-div">
      <div class="form-div">
        <form
          action="/contribute/<%= contribution.index %>/edit?_method=PUT"
          method="POST"
        >
          <div>
            <label for="date">Date</label>
            <input type="date" name="date" value="<%= contribution.date %>" />
          </div>
          <div>
            <label for="time">Time</label>
            <input type="time" name="time" value="<%= contribution.time  %> " />
          </div>

          <div>
            <label for="location">Location</label>
            <input
              type="text"
              name="location"
              value="<%= contribution.location %> "
            />
          </div>

          <div>
            <label for="shape">Shape</label>
            <input
              type="text"
              name="shape"
              value="<%= contribution.shape  %> "
            />
          </div>

          <div>
            <label for="duration">Duration</label>
            <input
              type="text"
              name="time"
              value="<%= contribution.duration %> "
            />
          </div>

          <div>
            <label for="summary">Summary</label>
            <input
              type="text"
              name="summary"
              value="<%= contribution.summary %> "
            />
          </div>

          <div>
            <label for="text">Incident</label>
            <textarea name="text" rows="5"><%= contribution.text %> </textarea>
          </div>

          <button type="submit" value="submit">Save</button>
        </form>
      </div>
    </div>
  </body>
</html>
