<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" type="text/css" />
    <title>UFO Sightings Directory</title>
  </head>
  <body>
    <h1>UFO Sightings Directory</h1>

    <div class="wrapper">
      <div class="table">
        <div class="row header">
          <div class="cell">Year</div>
          <div class="cell">Object Shape</div>
          <div class="cell">How Observed</div>
          <div class="cell">Weather</div>
          <div class="cell">Location</div>
          <div class="cell">Summary</div>
        </div>

        <% sightings.forEach((sightingObj,i) => { %>
        <!-- How do you add the link for the whole row -->
        <div class="row">
          <div class="cell" data-title="Year">
            <a href="/sighting/<%= i %>"><%= sightingObj.date_time %> </a>
          </div>
          <div class="cell" data-title="Object Shape">
            <%= sightingObj.shape %>
          </div>
          <div class="cell" data-title="How Observed">
            <%= sightingObj.observed %>
          </div>
          <div class="cell" data-title="Weather">
            <%= sightingObj.weather %>
          </div>
          <div class="cell" data-title="Location"><%= sightingObj.state %></div>
          <div class="cell" data-title="Summary">
            <%= sightingObj.summary %>
          </div>
        </div>
        <% }); %>
      </div>
    </div>
  </body>
</html>
