<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" type="text/css" />
    <title>View Contribution</title>
  </head>
  <body>
    <%- include('../templates/header'); -%>

    <div class="main-div">
      <div class="main-div">
        <h1>View Contribution</h1>

        <div class="view-form-div">
          <div class="input-div">
            <span class="label">Date</span>
            <span class="input"><%= date %></span>
          </div>

          <div class="input-div">
            <span class="label">Time</span>
            <span class="input"><%= time %></span>
          </div>

          <div class="input-div">
            <span class="label">Location</span>
            <span class="input"><%= location %></span>
          </div>

          <div class="input-div">
            <span class="label">Shape</span>
            <span class="input"><%= shape %></span>
          </div>

          <div class="input-div">
            <span class="label">Duration</span>
            <span class="input"><%= duration %></span>
          </div>

          <div class="input-div">
            <span class="label">Summary</span>
            <span class="input"><%= summary %></span>
          </div>

          <div class="input-div">
            <span class="label">Incident</span>
            <span class="input"><%= text %></span>
          </div>
        </div>

        <div class="button-horizontal-fieldset">
          <a href="/contribute/<%= index %>/edit" class="button">Edit</a>
          <a href="/contribute/<%= index %>/delete" class="button">Delete</a>
        </div>
      </div>
    </div>
  </body>
</html>
